<?xml version="1.0" ?>
<robot name="rx200_arm_waffle_turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>
  <xacro:include filename="$(find interbotix_xsarm_descriptions)/urdf/rx200.urdf.xacro"/>

  <joint name="rx200_arm" type="fixed">
    <parent link="base_link"/>
    <child link="rx200/base_link"/>
    <origin xyz="-0.01 0 0.097" rpy="0 0 0"/>
  </joint>

  <joint name="real_sense_camera_joint" type="fixed">
    <origin xyz="0.11 0.02 0.055" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="real_sense_camera_link"/>
  </joint>
  <link name="real_sense_camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.015 0.030 0.027"/>
      </geometry>
    </collision>
  </link>
</robot>

